<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#categoryId').change(function() {
                var categoryId = $(this).val();
                $.get('/loadBrands', {categoryId: categoryId}, (brands)=> {
                   $('#brands').empty();
                    $.each(brands, (index, brand)=> {
                        $('#brands').append($(`<option value=${brand.brandId}>`).text(brand.brandTitle));
                    });
                });
            });
        });
    </script>
</head>
<body class="container">
<header th:include="menu :: banner"></header>
<hr/>

<nav th:include="menu :: menu"></nav>



	<form action="./saveProduct">

		<div>
			<input name="productTitle" placeholder="Product Name" /> <br />
		</div>

		<div>
			<input name="priceObj.price" placeholder="Price" /> <br />
		</div>

		<div>
			<input name="stock.stock" placeholder="Stock" /> <br />
		</div>

		<div>
			<textarea name="description" placeholder="Product Description"></textarea>
			<br />
		</div>

		<div>
			<textarea name="keywords" placeholder="Keywords"></textarea>
			<br />
		</div>

		<div>
			<label>Select Category</label> 
			<select name="categoryId" id="categoryId">
				
				<option th:each="cat: ${categories}" th:value="${cat.categoryId}"
					th:text="${cat.categoryTitle}">
				</option>
			</select>
		</div>

		<div>
			<label>Select Brand</label> 
			<select id="brands" name="brandId">
			
			</select>
		</div>
		
		<div>
			<button>Save</button>
		</div>
		

	</form>


</body>
</html>